/* .App {
  text-align: center;
  
}


body {
  background-color: rgb(31, 164, 231);
}
.mainapp {
  text-align: center;
  color: white;
  
}

.table {
  border: 1px solid black;  
  text-align: center;
  position: relative;
  left: 30%;
}

td, th {
  border-bottom: 1px solid black;  
  border-right: 1px solid black;
  text-align: center;
}

td:last-child{
  border: none;
}

button {
  border-radius: 30px;
  color: aliceblue;
  background-color: black;
  transition: 0.7s;
}

button:hover {
  opacity: 0.6;
}


.second {
  text-align: left;
  color: black;
  margin-left: 40px;
  position: relative;
  left: 28%;
} */